<header>
  <div class='navbar'>

    <nav>
      <ul>
      <li><%= link_to 'Home', home_path %></li>
      <li><%= link_to 'My First Post', my_first_post_path %></li>
      </ul>

    </nav>

  </div>
</header>
